.home {
  ::-webkit-scrollbar {
    display: none;
  }
  .home-box {
    .left {
      position: sticky;
      overflow-y: scroll;
      height: 90.4vh;
      padding-top: 10px;
      .box {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 90%;
        margin: auto;
        padding-bottom: 10px;

        p {
          font-weight: 700;
          font-size: 12px;
        }
        .item {
          display: flex;
          align-items: center;
          cursor: pointer;
          gap: 10px;
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
